
body{
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.text-shadow{
    text-shadow: 1px 1px 3PX;
    color: black;
}

.contenedor{
    background-color: #ffffff;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;

}

#main h1{
    color:rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 100;    
    padding-top: 100px;   
}

.texto{
    text-align: center;
    color: aliceblue;
    font-size:x-large;
}

.logo img{
    height: 150px;
}

.menu{
    display: flex;
    font-size: 20px;
    position: sticky;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    font-family: 'Oswald';
    color: rgb(83, 24, 138);
    padding: 10px;
}

#main{
    background-image: url(/Imagenes/banner.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.redes-sociales{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
}

.redes-sociales li{
    list-style: none;
}

.redes-sociales li a{
    text-decoration: none;
    padding: 10px;
}


/* Estilos pagina "Productos.html" */

#main-p{
    margin: 100px;
}


.productos{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 50px;
    margin-top: 50px;
}


.productos img{
    width: 100%;
    min-width: 200px;
}

h1{
    font-family: 'Oswald';
    text-align: center;
}

h2{
    font-family: 'Oswald';
    text-align: center;
    font-size: 20px;
}

p{
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Architects Daughter', cursive;
}

/* Media Queries */

@media (max-width: 830px) {
    header{
        flex-direction: column;
    }

}


@media  (max-width: 767px){
    .productos{
        display: grid;  
        grid-template-columns: 1fr;
        gap: 50px;
        margin-top: 50px;
    }

}